<app-breadcrumb [title]="'Pivacy-policy'" [breadcrumb]="'Privacy-policy'"></app-breadcrumb>
<!-- section start -->
<div class="about-us-wrapper">
  <div class="container">
    <div class="about-section sec-padding" fxLayout="row" fxLayout.lt-md="column">
        <!-- <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
      <img src="assets/images/about-us/aboutUs.jpg" alt="">
      </div> -->
      <div fxFlex="100" fxFlex.gt-sm="100" class="left-info-panel">
         <div class="about-us-intro">
          <!-- <p>Please read Privacy Policy</p> -->

        <h4>Reservation of Rights</h4>
        <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>

        <p>Removal of links from our website</p>
        <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>

<p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>
<br>
<h4>Disclaimer</h4>
<p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>
<li>limit or exclude our or your liability for death or personal injury;
  <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;
    <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or
      <li>exclude any of our or your liabilities that may not be excluded under applicable law.
        <li>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.

<p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
<p>
Privacy Policy: </p>
<p><a href="https://sites.google.com/view/privacypolicyinavink/home" target="_blank">https://sites.google.com/view/privacypolicyinavink/home</a></p>

         </div>
          </div>
    </div>
  </div>
  <!-- <div class="our-values sec-padding">
      <div class="container">
        <div class="title-wrapper">
          <h2>Our Great Services </h2>
          <p>Boldman has 10+ years of experience with providing wide area of specialty services works listed below.
            </p>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" class="box-wraper">
            <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
              <div class="content">
                <div class="icon-box">
                    <i class="material-icons">
                        done_all
                        </i>
                </div>
                  <h4>Pure quality</h4>
                  <p>Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus, eu euismod diam</p>
              </div>
             </div>
             <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
                <div class="content">
                  <div class="icon-box">
                      <i class="material-icons">
                          build
                          </i>
                  </div>
                    <h4>Free service</h4>
                    <p>Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus, eu euismod diam</p>
                </div>
               </div>
               <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
                  <div class="content">
                    <div class="icon-box">
                        <i class="material-icons">
                            local_shipping
                            </i>
                    </div>
                      <h4>Home delivery</h4>
                      <p>Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus, eu euismod diam</p>
                  </div>
                 </div>
        </div>
      </div>
  </div>
  <div class="our-team sec-padding">
      <div class="container">
        <div class="title-wrapper">
          <h2>Our Experts </h2>
          <p>Our development opt in to the projects they genuinely want to work on,<br>committing wholeheartedly to delivering.
            </p>
        </div>
        <div class="team-members" fxLayout="row" fxLayout.lt-sm="column">
            <div fxFlex="100" fxFlex.gt-sm="25" class="item">
                <div class="single-team-member">
                    <div class="img-box"><img src="assets/images/about-us/t1.jpg" alt="Awesome Image">
                      <div class="overlay">
                        <div class="box">
                          <div class="content">
                            <ul class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                              <mat-toolbar color="primary" class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                         
                                <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                             
                            </mat-toolbar >
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-box">
                      <h4>Peter Simons</h4>
                      <p>CEO &amp; Founder</p>
                    </div>
                  </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" class="item">
              <div class="single-team-member">
                  <div class="img-box"><img src="assets/images/about-us/t2.jpg" alt="Awesome Image">
                    <div class="overlay">
                      <div class="box">
                        <div class="content">
                          <ul class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                            <mat-toolbar color="primary" class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                       
                              <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                              <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                              <li><a href=""><i class="fa fa-instagram"></i></a></li>
                              <li><a href=""><i class="fa fa-twitter"></i></a></li>
                           
                          </mat-toolbar >
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-box">
                    <h4>Peter Simons</h4>
                    <p>CEO &amp; Founder</p>
                  </div>
                </div>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="item">
            <div class="single-team-member">
                <div class="img-box"><img src="assets/images/about-us/t3.jpg" alt="Awesome Image">
                  <div class="overlay">
                    <div class="box">
                      <div class="content">
                        <ul class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                          <mat-toolbar color="primary" class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                     
                            <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                         
                        </mat-toolbar >
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-box">
                  <h4>Peter Simons</h4>
                  <p>CEO &amp; Founder</p>
                </div>
              </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="item">
          <div class="single-team-member">
              <div class="img-box"><img src="assets/images/about-us/t4.jpg" alt="Awesome Image">
                <div class="overlay">
                  <div class="box">
                    <div class="content">
                      <ul class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                        <mat-toolbar color="primary" class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                   
                          <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fa fa-instagram"></i></a></li>
                          <li><a href=""><i class="fa fa-twitter"></i></a></li>
                       
                      </mat-toolbar >
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-box">
                <h4>Peter Simons</h4>
                <p>CEO &amp; Founder</p>
              </div>
            </div>
      </div>
        </div>
      </div>
    </div> -->

</div>
