<app-breadcrumb [title]="'About-us'" [breadcrumb]="'About-us'"></app-breadcrumb>
<!-- section start -->
<div class="about-us-wrapper">
  <div class="container">
    <div class="about-section sec-padding" fxLayout="row" fxLayout.lt-md="column">
        <!-- <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
      <img src="assets/images/about-us/aboutUs.jpg" alt="">
      </div> -->
      <div fxFlex="100" fxFlex.gt-sm="100" class="left-info-panel">
         <div class="about-us-intro">
          <p>#Shopping with Inavink is not only fun, but it also helps local shops giving them an efficient online platform 
            to provide unbeatable service. When you support a small business you're supporting a dream. </p>

          <p>So if you come across this app, ask or invite your local shopkeeper to register through our website <a href="www.inavink.com" target="_blank">www.inavink.com</a>  , 
            Through Inavink you will find all types of Shops from Eyewear, Books, Garages, Automobile accessories, Mobile Shops, 
            Mobile Accessories, Computer products, Gifts and Toys, Kids Stores, Clothing, Apparels, Medicine and Health Care, 
            Home Décor, Bakery & confectionery, Watches, Fashion, Sports goods, Courier, Battery stores, Aquarium, Fast food Joints, Restaurants, Furniture, Beauty & personal care, Jewelry, Grocery, Ice Cream, Fruits & vegetables, Two wheeler Accessories, Electronics & Home Appliances and many more.  </p>
          
          <p>Checkout which are the nearby retail Shops, businesses or services. All the details of a store are mentioned in Inavink from Contact details, #whatsapp number, Address Integrated with #Google #Maps to reach the shop if a user wants to visit the shops and so on.</p>
          
          <p>The Commission free online shopping app from Inavink assures you of a great shopping experience with a wide selection across different shops located near you for the categories like fashion, electronics, home & kitchen and more. You can browse and search for your desired products by product name, category or brands. Get personalized recommendations based on ratings & shopping trends.</p>
          
          <p>With Inavink, you make purchase from your local stores, so delivery of the product is instant or as per the time you recommend.</p>
          
          <p>Whenever you visit Inavink Shopping webiste, it locates your area and accordingly displays nearby shops and products. To order you may place the order directly from app and the seller will deliver it to the given location. Inavink also provides the Shops contact details and shop location with the help of #Google maps, the user can get the details and walk-in the store as per convenience.</p>
          
         </div>
          </div>
    </div>
  </div>
  <!-- <div class="our-values sec-padding">
      <div class="container">
        <div class="title-wrapper">
          <h2>Our Great Services </h2>
          <p>Boldman has 10+ years of experience with providing wide area of specialty services works listed below.
            </p>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" class="box-wraper">
            <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
              <div class="content">
                <div class="icon-box">
                    <i class="material-icons">
                        done_all
                        </i>
                </div>
                  <h4>Pure quality</h4>
                  <p>Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus, eu euismod diam</p>
              </div>
             </div>
             <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
                <div class="content">
                  <div class="icon-box">
                      <i class="material-icons">
                          build
                          </i>
                  </div>
                    <h4>Free service</h4>
                    <p>Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus, eu euismod diam</p>
                </div>
               </div>
               <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
                  <div class="content">
                    <div class="icon-box">
                        <i class="material-icons">
                            local_shipping
                            </i>
                    </div>
                      <h4>Home delivery</h4>
                      <p>Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus, eu euismod diam</p>
                  </div>
                 </div>
        </div>
      </div>
  </div>
  <div class="our-team sec-padding">
      <div class="container">
        <div class="title-wrapper">
          <h2>Our Experts </h2>
          <p>Our development opt in to the projects they genuinely want to work on,<br>committing wholeheartedly to delivering.
            </p>
        </div>
        <div class="team-members" fxLayout="row" fxLayout.lt-sm="column">
            <div fxFlex="100" fxFlex.gt-sm="25" class="item">
                <div class="single-team-member">
                    <div class="img-box"><img src="assets/images/about-us/t1.jpg" alt="Awesome Image">
                      <div class="overlay">
                        <div class="box">
                          <div class="content">
                            <ul class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                              <mat-toolbar color="primary" class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                         
                                <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                             
                            </mat-toolbar >
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-box">
                      <h4>Peter Simons</h4>
                      <p>CEO &amp; Founder</p>
                    </div>
                  </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" class="item">
              <div class="single-team-member">
                  <div class="img-box"><img src="assets/images/about-us/t2.jpg" alt="Awesome Image">
                    <div class="overlay">
                      <div class="box">
                        <div class="content">
                          <ul class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                            <mat-toolbar color="primary" class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                       
                              <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                              <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                              <li><a href=""><i class="fa fa-instagram"></i></a></li>
                              <li><a href=""><i class="fa fa-twitter"></i></a></li>
                           
                          </mat-toolbar >
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-box">
                    <h4>Peter Simons</h4>
                    <p>CEO &amp; Founder</p>
                  </div>
                </div>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="item">
            <div class="single-team-member">
                <div class="img-box"><img src="assets/images/about-us/t3.jpg" alt="Awesome Image">
                  <div class="overlay">
                    <div class="box">
                      <div class="content">
                        <ul class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                          <mat-toolbar color="primary" class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                     
                            <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                         
                        </mat-toolbar >
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-box">
                  <h4>Peter Simons</h4>
                  <p>CEO &amp; Founder</p>
                </div>
              </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="item">
          <div class="single-team-member">
              <div class="img-box"><img src="assets/images/about-us/t4.jpg" alt="Awesome Image">
                <div class="overlay">
                  <div class="box">
                    <div class="content">
                      <ul class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                        <mat-toolbar color="primary" class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                   
                          <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fa fa-instagram"></i></a></li>
                          <li><a href=""><i class="fa fa-twitter"></i></a></li>
                       
                      </mat-toolbar >
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-box">
                <h4>Peter Simons</h4>
                <p>CEO &amp; Founder</p>
              </div>
            </div>
      </div>
        </div>
      </div>
    </div> -->

</div>
