<footer class="footer sec-padding">
  <div class="container">
      <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="footer-widget about-widget"><a class="logo" href="index.html"><img src="assets/images/Inavink_logo.png" style="height: 50px;" alt="Awesome Image"></a>
          <p>Shopping with Inavink is not only fun, but it also helps local shops giving them an efficient online
            platform to provide unbeatable service. When you support a small business you&#39;re supporting a dream.</p>
          <div class="link"><a [routerLink]="['/about']" >MORE ABOUT US</a> </div>
        </div>

          <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
            <div class="title">
              <h5>LET US HELP YOU</h5>
            </div>
            <div class="row">
                <ul>
                  <li><a [routerLink]="['/pages/faq']">FAQs</a></li>
                  <li><a [routerLink]="['/pages/terms-and-conditions']">TERMS & CONDITIONS</a></li>
                  <li><a [routerLink]="['/pages/privacy-policy']">PRIVACY</a></li>
                  <li><a [routerLink]="['/pages/shipping-and-payments']">SHIPPING & PAYMENTS</a></li>
                  <li><a [routerLink]="['/pages/cancellation-and-returns']">CANCELLATIONS & RETURNS</a></li>
                </ul>
            </div>
          </div>


          <!-- <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
            <div class="title">
              <h5>POLICY</h5>
            </div>
            <div class="row">
                <ul>
                  <li><a href="#">TERMS OF USE</a></li>
                  <li><a href="#">PRIVACY</a></li>
                  <li><a href="#">PAYMENTS</a></li>
                  <li><a href="#">SITEMAP</a></li>
                </ul>
            </div>
          </div> -->
          <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
            <div class="title">
              <h5>Download Our App</h5>
            </div>
            <div class="row">
                <ul>
                  <li> <a href="https://play.google.com/store/apps/details?id=com.inavink.admin.inavink" target="_blank">
                    <!--details?id=com.flipkart.seller-->
                    <img src="http://www.inavink.com/EmailTemp/GetOnplayStore.PNG" alt="InaVink App on Google Play" style="width:140px;height:50px;margin-left:15%" />
                </a></li>
                </ul>
            </div>
          </div>

          <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
            <div class="title">
              <h5>Contact Us</h5>
            </div>
            <!-- <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-map-marker"></i></div>
              <div class="text">
                <p>Apple St, New York, NY 10012, USA</p>
              </div>
            </div> -->
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-phone"></i></div>
              <div class="text">
                <p>+91-9892413631  /  +91-9082915366</p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-envelope"></i></div>
              <div class="text">
                <p><a href="#">contact@inavink.com</a></p>
              </div>
            </div>

            <ul fxLayout="row" class="social list-inline">
              <li><a href="https://www.facebook.com/Inavink-1847792705332508/?modal=admin_todo_tour" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/in/inavink-app-4783aa185/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://twitter.com/InavinkA" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/inavink.app/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
            
          </div>






      </div>
  </div>
</footer>
